.help-block {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

span.help-block {
    width: 100%;
}

.flash-msg .close {
    color: #fff;
}

@media (min-width: 993px) {
    .flash-msg {
        margin-left: 250px;
    }

    .sidebar-mini.sidebar-collapse .flash-msg {
        margin-left: 4.6rem !important;
    }
}

.page-link {
    padding: 0.25rem 0.5rem;
    font-size: 1rem !important;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {
    /* li.page-item {
        display: none;
    }

    .page-item:first-child,
    .page-item:nth-child(2),
    .page-item:nth-child(3),
    .page-item:nth-last-child(2),
    .page-item:nth-last-child(3),
    .page-item:last-child,
    .page-item.active,
    .page-item.disabled {
        display: block;
    } */

    .page-count {
        display: block !important;
        text-align: center !important;
    }

    .pagination {
        justify-content: center;
        align-items: center;
        padding-left: 9px !important;
    }

    .page-link {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem !important;
        line-height: 1.5;
    }

    .pagination {
        float: none !important;
    }

    .clear-div-float {
        float: none !important;
        clear: both !important;
    }
}

.pagination {
    float: right;
}

.card-footer {
    padding-left: 1% !important;
}

table {
    word-wrap: break-word;
}

table thead {
    word-wrap: break-word !important;
    white-space: nowrap;
    text-align: center;
}

table > tbody > tr > td {
    vertical-align: middle !important;
}

.form-group.has-error input[type="text"],
.form-group.has-error textarea,
.form-group.has-error input[type="number"],
.form-group.has-error input[type="password"] {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-group.has-error select,
.form-group.has-error .select2-selection {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.75rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-group span.required {
    color: red !important;
}

.form_checkbox {
    position: relative;
}

.form_checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.form_checkbox label {
    margin: 0;
    padding: 0 0 0 50px;
    line-height: 38px;
    cursor: pointer;
}

.form_checkbox label:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.form_checkbox label:after {
    position: absolute;
    content: "";
    left: 11px;
    top: 12px;
    width: 18px;
    height: 9px;
    border-top: 2px solid #007bff;
    border-right: 2px solid #007bff;
    transform: rotate(135deg);
    opacity: 0;
}

.form_checkbox input:checked + label:after {
    opacity: 1;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 35px !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    word-break: break-all;
    color: black;
    padding-left: 10px !important;
}

.select2-container--default .select2-results > .select2-results__options {
    word-break: break-all;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: inherit !important;
}

/* .select2-container {
    width: 100% !important;
} */

.text-break-all {
    word-break: break-all !important;
}

.import_export_button {
    float: right;
}

.download_button a {
    -webkit-appearance: none;
}

.font-white {
    color: white !important;
}

#ajax-sortable-container .table th {
    border-top: 0px !important;
}

/* #ajax-sortable-container .card-footer {
    padding-left: 0px !important;
} */

.page-count {
    display: inline-block;
    padding: 10px;
}

.main-sidebar,
.main-sidebar::before {
    width: 260px;
}

.pointer-events-none {
    pointer-events: none !important;
}

.nav-tabs .nav-link {
    border: none !important;
}
.chart-container {
    position: relative;
    margin: auto;
    /* height: 80vh;
    width: 80vw; */
}

section.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
section.range-slider input[type="range"]::-moz-focus-outer {
    border: 0;
}

.right-side-header {
    text-align: right;
}

.track-line {
    height: 2px !important;
    background-color: green;
}

/* .disable-track-line {
    height: 2px !important;
    background-color: #cccccc
} */

.dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.disable-dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
}

.big-dot {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.disable-big-dot {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
}

.big-dot i {
    font-size: 12px;
}

.tracking-taxt {
    font-size: 10px;
}

.log_detail_data table tr, #dashboard_order_list table tr{
    /* line-height: 0.5 !important; */
}

.flash_message_div{
    margin:0 5px;
}
.select2 {
    width:100%!important;
    }